<div (click)="toggleMenu()" class="navitem-dropup">

  <div class="navitem button" [ngClass]="{'buttonSelected': _openMenu}" *ngIf="disziplin" (click)="openModal">
    <h4>Disziplin</h4>
    <h3>{{disziplin.title}}</h3>
    <h4>{{disziplin.scheibe.title}}</h4>
  </div>
  
  <div class="dropup-content dropup-content-big" [@inOutAnimation] *ngIf="_openMenu">
    <div class="selectedGroups" fxLayout="row wrap" fxLayoutGap="1vmin" *ngIf="selectedGroup">
      <div *ngFor="let key of selectedGroup.disziplinen;" class="box button" [ngClass]="{'buttonSelected': key == disziplin._id}" fxFlex="0 1 calc(25%-1vmin)" (click)="setDiscipline(key)">
        <h3 fittext [fontUnit]="'vmin'" [maxFontSize]="'3'">{{config.disziplinen.all[key].title}}</h3>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="1vmin">
      <div *ngFor="let group of config.disziplinen.groups" class="box group button" [ngClass]="{'buttonSelected': group.title == selectedGroup.title}" fxFlex (click)="selectGroup(group);$event.stopPropagation();">
        <app-target [target]="config.disziplinen.all[group.disziplinen[0]].scheibe" [line]="group.title" [has_trial_corner]="false" [width]="'100%'" [height]="'90px'"></app-target>
        <h3 fittext [fontUnit]="'vmin'" [maxFontSize]="'3'">{{group.title}}</h3>
      </div>
    </div>
    
  </div>
</div>
