
<div *ngIf="session">
  <div *ngFor="let part of session.sessionParts; let partIndex=index;">
    <div class="padding">
      <p class="disciplinePartLabel">{{session.disziplin.parts[part.type].title}}</p>
      <table>
        <tr>
          <th>Anzahl</th>
          <th>Ring</th>
          <th>Schnitt</th>
          <th>Zeit</th>
        </tr>
        <tr class="summaryRow">
          <td>{{part.anzahl}}</td>
          <td>{{part.gesamt}}</td>
          <td>{{part.schnitt}} &Oslash;</td>
          <td>TODO</td>
        </tr>
      </table>
    </div>
    <div fxLayout="row wrap">
      <div class="padding serie" fxFlex="50%" fxFlex.sm="100%" *ngFor="let serie of part.serien; let serienIndex=index;">
        <p class="fullLabel center">{{serienIndex + 1}}. Serie</p>
        <table>
          <colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 30%;">
          </colgroup>
          <tr>
            <th>Nr</th>
            <th>Ring</th>
            <th>Winkel</th>
            <th>Teiler</th>
            <th>Zeit</th>
            <th>Grafik</th>
          <!-- <tr *ngFor="let shot of series.shots; let shotIndex=index;"> -->
          <tr class="realShots" *ngFor="let shot of serie.shots; let shotIndex=index;">
            <td>{{shot.number}}.</td>
            <td>{{shot.ring.display}}</td>
            <td>{{shot.teiler}}</td>
            <td>{{shot.winkel}}</td>
            <td>00:00 Uhr</td>
            <td class="targetCell" *ngIf="shotIndex == 0" [attr.rowspan]="session.disziplin.parts[part.type].serienLength">
              <app-target class="box" [target]="session.disziplin.scheibe" [line]="partIndex + 'x' + serienIndex" [series]="serie" [has_trial_corner]="true" [width]="'100%'" [height]="'100%'"></app-target>
            </td>
          </tr>
          <tr class="dummyShots" *ngFor="let i of getDummyRowsForPart(part.type, serie);">
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
