.currentShotArrow {
  width: 78px;
  float: left;
  font-size: 8vmin;
  margin-top: 1vmin;
  margin-left: 1vmin;
  position: absolute;
}
.currentShowInfo {
  width: 100%;
}


h1 {
  font-weight: 500;
  font-size: 6vmin;
  width: 100%;
}

h2 {
  font-weight: 200;
  font-size: 3vmin;
  width: 100%;
  color: rgb(128, 128, 128);
}
