<div (click)="toggleMenu()" class="navitem-dropup">

  <div class="navitem button" [ngClass]="{'buttonSelected': _openMenu}">
    <h4></h4>
    <h3>Aktionen</h3>
    <h4></h4>
  </div>
  
  <div class="dropup-content dropup-content-normal" [@inOutAnimation] *ngIf="_openMenu">
    <!-- <div class="box" *ngFor="let part of _session.parts; index as i;" [ngClass]="{'bold' : disciplinePart.id == part.id}">
      <h3>{{getDisciplinePart(part.part_type).name}}</h3>
      <h4>{{part.number_of_shots}} Schuss/ {{part.sum.text}} Ringe</h4>
    </div> -->
    <app-new-target class="box button"></app-new-target>
    
    <div class="box button" (click)="selectParts()">
      <h3>Scheiben</h3>
    </div>
    
    <div class="box button" (click)="print()">
      <h3>Drucken</h3>
    </div>
    
    <!-- <div class="box button" (click)="history()">
      <h3>Historie</h3>
    </div> -->
    
    
    
  </div>
  
</div>
